
<div mat-dialog-title class="d-flex justify-content-between">
    <h2 class="mat-display-1 mb-0">{{ countyName }}</h2>
    <button type="button" mat-icon-button (click)="close()">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="hc"
        style="width: 100%; height: auto; display: block;"
    ></highcharts-chart>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
    <button type="button" mat-button (click)="close()">
        Close
    </button>
</mat-dialog-actions>