
<div class="my-3">&nbsp;</div>
<div class="container bg-color-app-bar">
    <div class="row">
        <div class="one-half column">
            <div class="flex">
                <span class="h3 text-color-accent text-uppercase">Disclaimer</span>
                <div class="spacer"></div>
                <a mat-icon-button class="iconify text-color-accent" type="button" href="https://github.com/drewpayment/covid-19">
                    <span class="iconify" data-icon="mdi-github" data-inline="false"></span>
                </a>
            </div>
            
            <p>
                This site is for educational and information purposes only. Drew Payment 
                is a Software Engineer with a passion for writing code that helps people. All information 
                provided is from reputable sources, but should not be considered medical advice. 
            </p>
        </div>
        <div class="one-half column">
            <!-- <div class="container"> -->
                <div class="row">
                    <div class="one-half column">
                        <h3>Resources</h3>
                        <p>
                            <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html">
                                CDC
                            </a>
                        </p>
                        <p>
                            <a href="https://www.coronavirus.gov/">
                                Coronavirus.gov
                            </a>
                        </p>
                        <p>
                            <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1">
                                World Health Org
                            </a>
                        </p>
                    </div>
                    <div class="one-half column">
                        <h3>Credits</h3>
                        <p>
                            <a href="https://www.youtube.com/channel/UCsXVk37bltHxD1rDPwtNM8Q?feature=emb_subscribe_title">
                                Kurzgesagt – In a Nutshell
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://icons8.com/icons/set/coronavirus">Coronavirus icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
                        </p>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
