
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mat-display-2 text-color-accent text-center" *ngIf="percCountiesInfected">
                {{ percCountiesInfected | percent:'2.0-2' }} Counties Infected in US 
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <ng-container *ngIf="hc$|async as hc">
                <div style="min-height: 600px !important; width: auto !important;">
                    <highcharts-chart
                        [Highcharts]="hc.hc"
                        [options]="hc.options"
                        chartConstructor="mapChart"
                    ></highcharts-chart>
                </div>
                
            </ng-container>
            <div class="flex justify-content-between" *ngIf="lastUpdated">
                <span>Last Updated: {{ lastUpdated | date: 'shortDate' }}</span>
                <a [routerLink]="['..', 'country', '840']">
                    Check here for more details and up-to-minute updates
                </a>
            </div>
        </div>
    </div>
</div>