
<ng-container *ngIf="chartData$|async as charts">
    <div class="container" *ngIf="summary$|async as summary">
        <div class="row" *ngIf="country != null">
            <div class="col-12"
                [class.css-grid]="!isMobile"
                [class.justify-content-center]="!isMobile"
            >
                <h1 class="header">
                    <img [src]="country?.countryInfo?.flag" [alt]="country?.country" class="img-small">
                    <span>{{ country?.country }}</span>
                </h1>
                <mat-list [class.flex]="!isMobile">
                    <mat-list-item>
                        <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
                        <div mat-line>Cases: {{ country?.cases | number }}</div>
                        <div mat-line>Today: {{ country?.todayCases | number }}</div>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-icon mat-list-icon>report_problem</mat-icon>
                        <div mat-line>Deaths: {{ country?.deaths | number }}</div>
                        <div mat-line>Today: {{ country?.todayDeaths | number }}</div>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-icon mat-list-icon>done</mat-icon>
                        <div mat-line>Active: {{ country?.active | number }}</div>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-icon mat-list-icon>disc_full</mat-icon>
                        <div mat-line>Critical: {{ country?.critical | number }}</div>
                    </mat-list-item>

                    <mat-list-item [matTooltip]="(country?.recovered | number) + ' Recovered'">
                        <mat-icon mat-list-icon>thumb_up</mat-icon>
                        <div mat-line>Recovered: {{ divide(country?.recovered, country?.cases) | percent }}</div>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-icon mat-list-icon>remove_circle</mat-icon>
                        <div mat-line [class.font-weight-bold]="isBoldWeight(country)">
                            Mortality: {{ divide(country?.deaths, country?.cases) | percent }}
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>

        <div class="row">
            <div class="col-6 d-flex" *ngIf="showStateControls">
                <mat-form-field class="pr-2">
                    <mat-label>Currently Showing: </mat-label>
                    <mat-select [formControl]="graphSelect">
                        <mat-option *ngFor="let go of graphingOptions" [value]="go.value">
                            {{ go.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="pl-2" *ngIf="graphSelect?.value == 2">
                    <mat-label>State</mat-label>
                    <mat-select [formControl]="state" (selectionChange)="onStateOptionChange($event)">
                        <mat-option *ngFor="let s of stateOptions" [value]="s.abbr">
                            {{ s.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12">
                <plotly-plot #plt
                    *ngIf="graphSelect?.value == 0"
                    [data]="plotlyGraph.data"
                    [layout]="plotlyGraph.layout"
                    [config]="plotlyGraph.config"
                ></plotly-plot>

                <plotly-plot #statePlt
                    *ngIf="graphSelect?.value == 1"
                    [data]="charts.states.data"
                    [layout]="charts.states.layout"
                    [config]="charts.states.config"
                >
                </plotly-plot>
                <!-- ADD HORIZONTAL BAR CHART BY STATES HERE... 
                https://plotly.com/javascript/horizontal-bar-charts/ -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <p class="font-color-accent">
                    Last Updated: {{ summary?.updated | date: 'short' }}
                </p>
            </div>
        </div>
    </div>
</ng-container>