/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

@import "~@angular/material/theming";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import "https://fonts.googleapis.com/css?family=Material+Icons+Two+Tone";
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500");

$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, "Crimson Text", -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, "Crimson Text", -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, "Crimson Text", 0em),
  display-1: mat-typography-level(34px, 40px, 400, "Crimson Text", 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, "Crimson Text", 0em),
  title: mat-typography-level(22px, 32px, 500, "Crimson Text", 0.0075em),
  subheading-2: mat-typography-level(17px, 28px, 400, "Work Sans", 0.0094em),
  subheading-1: mat-typography-level(16px, 24px, 500, "Work Sans", 0.0067em),
  body-1: mat-typography-level(16px, 20px, 400, "Work Sans", 0.0179em),
  body-2: mat-typography-level(16px, 24px, 500, "Work Sans", 0.0179em),
  button: mat-typography-level(14px, 14px, 500, "Work Sans", 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, "Work Sans", 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, "Work Sans", 1.5px),
);

// Foreground Elements

// Light Theme Text
$dark-text: #491c0b;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background: #fbf5e5;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12: rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
);

// Dark bg
$dark-background: #2c2c2c;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fbf5e5, 0.04);
$light-bg-alpha-12: rgba(#fbf5e5, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #f68316;
  --primary-lighter-color: #fcdab9;
  --primary-darker-color: #f2660c;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
}

$mat-primary: (
  main: #f68316,
  lighter: #fcdab9,
  darker: #f2660c,
  200: #f68316,
  // For slide toggle,
    contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text,
    ),
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #006837;
  --accent-lighter-color: #b3d2c3;
  --accent-darker-color: #004b23;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #006837,
  lighter: #b3d2c3,
  darker: #004b23,
  200: #006837,
  // For slide toggle,
    contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #c60303;
  --warn-lighter-color: #eeb3b3;
  --warn-darker-color: #b10202;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #c60303,
  lighter: #eeb3b3,
  darker: #b10202,
  200: #c60303,
  // For slide toggle,
    contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
// $theme: create-custom-theme($theme-primary, $theme-accent, $theme-warn, $mat-light-theme-foreground, $mat-light-theme-background, false);
// $altTheme: create-custom-theme($theme-primary, $theme-accent, $theme-warn, $mat-dark-theme-foreground, $mat-dark-theme-background, true);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: "Material Icons Two Tone", "Material Icons";
  .mat-badge-content {
    font-family: "Work Sans";
  }
}

@function create-custom-theme($primary, $accent, $warn, $foreground, $background, $isDark: false) {
    @return (
        primary: $primary, 
        accent: $accent,
        warn: $warn,
        is-dark: $isDark,
        foreground: $foreground,
        background: $background,
    );
}

@function material-get($key) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $result: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    background: $background,
    foreground: $foreground,
    primary-color: mat-color($primary),
    accent-color: mat-color($accent),
    status-bar-color: map-get($background, "status-bar"),
    app-bar-color: map-get($background, "app-bar"),
    background-color: map-get($background, "background"),
    hover-color: map-get($background, "hover"),
    card-color: map-get($background, "card"),
    dialog-color: map-get($background, "dialog"),
    disabled-button-color: map-get($background, "disabled-button"),
    raised-button-color: map-get($background, "raised-button"),
    focused-button-color: map-get($background, "focused-button"),
    selected-button-color: map-get($background, "selected-button"),
    selected-disabled-button-color: map-get($background, "selected-disabled-button"),
    disabled-button-toggle-color: map-get($background, "disabled-button-toggle"),
    unselected-chip-color: map-get($background, "unselected-chip"),
    disabled-list-option-color: map-get($background, "disabled-list-option"),
    base-color: map-get($foreground, "base"),
    divider-color: map-get($foreground, "divider"),
    dividers-color: map-get($foreground, "dividers"),
    disabled-color: map-get($foreground, "disabled"),
    // disabled-button-color:   map-get($foreground, 'disabled-button'  ),
      disabled-text-color: map-get($foreground, "disabled-text"),
    elevation-color: map-get($foreground, "elevation"),
    hint-text-color: map-get($foreground, "hint-text"),
    secondary-text-color: map-get($foreground, "secondary-text"),
    icon-color: map-get($foreground, "icon"),
    icons-color: map-get($foreground, "icons"),
    text-color: map-get($foreground, "text"),
    slider-min-color: map-get($foreground, "slider-min"),
    slider-off-color: map-get($foreground, "slider-off"),
    slider-off-active-color: map-get($foreground, "slider-off-active"),
  );

  @return map-get($result, $key);
}
