/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "../../node_modules/skeleton-scss/scss/base/normalize";
@import "../../node_modules/skeleton-scss/scss/base/variables";
@import "../../node_modules/skeleton-scss/scss/base/functions";
@import "../../node_modules/skeleton-scss/scss/base/base-styles";
@import "../../node_modules/skeleton-scss/scss/base/utils";
@import "../../node_modules/skeleton-scss/scss/base/typography";

/* Modules */
@import "../../node_modules/skeleton-scss/scss/modules/grid";
// @import "../../node_modules/skeleton-scss/scss/modules/buttons";
// @import "../../node_modules/skeleton-scss/scss/modules/forms";
// @import "../../node_modules/skeleton-scss/scss/modules/lists";
// @import "../../node_modules/skeleton-scss/scss/modules/code";
// @import "../../node_modules/skeleton-scss/scss/modules/tables";
// @import "../../node_modules/skeleton-scss/scss/modules/spacing";
@import "../../node_modules/skeleton-scss/scss/modules/media-queries";
@import 'autotheme';


.flex {
    display: flex !important;
    // flex-flow: column;
    height: 100%;

    &.flex-column {
        flex-flow: column;
    }

    &.justify-content-center {
        justify-content: center;
    }

    &.justify-content-between {
        justify-content: space-between;
    }

    &.justify-content-start {
        justify-content: flex-start;
    }

    &.justify-content-end {
        justify-content: flex-end;
    }

    &.align-items-center {
        align-items: center;
    }
}

.flex-header {
    flex: 0 1 auto;
}

.flex-grow-1 {
    flex: 1 0 auto;
}

.flex-shrink-1 {
    flex: 0 1 auto;
}

.row.flex-content {
    flex: 1 1 auto;
}

.spacer {
    flex: 1 1 auto;
}

.ngx-charts-outer {
    background-color: #FFF;
}

.align-items-center {
    align-items: center;
}

.css-grid {
    display: grid;

    &.justify-content-center {
        justify-content: center;

        * {
            justify-self: center;
        }
    }
}

.css-grid-inline {
    display: inline-grid !important;
}

.h-100 {
    height: 100%;
}

.mt-auto {
    margin-top: auto;
}

.app-container {
    display: grid;
    grid-gap: 60px;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 200px;
    grid-template-areas: 
        "nav"
        "main"
        "footer";
}

.app-nav {
    grid-area: nav;
}

.app-main {
    grid-area: main;
}

.app-footer {
    grid-area: footer;
}