@import 'theme';

.font-italic {
    font-style: italic !important;
}

.font-xs {
    font-size: 1rem !important;
}

.font-weight-bold {
    font-weight: bold;
}

.font-color-accent {
    color: material-get(accent-color) !important;
}