$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$success:       $green !default;
$warning:       $yellow !default;
$danger:        $red !default;
$white:    #fff !default;

.header-active {
    background-color: $warning;
}

.header-deaths {
    background-color: $danger;
    color: $white;
}

.header-critical {
    background-color: $orange;
}

.header-recovered {
    background-color: $success;
    color: $white;
}

.mat-header-cell {
    font-size: 1.2rem !important;
    color: $white;
}

mat-row.clickable-row {
    &:hover {
        background-color: lighten(#424242, 70%);
        cursor: pointer;
        font-weight: 450;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    }
}