<div class="container">

    <div class="row">
        <div class="six columns">
            <img src="assets/images/green/wearing_a_mask_.svg" width="95%">
            <!-- <a href="https://flattenthecurve.com/" target="_blank" alt="flattenthecurve.com"
                matTooltip="Photo Credit: flattenthecurve.com">
                <img src="assets/images/health-system-capacity.svg" alt="Health System Capacity"
                    class="img-spacer">
            </a> -->
            <!-- <mat-card>
                <mat-card-content>
                    <p>
                        Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.
                    </p>
                </mat-card-content>
                <mat-card-footer>
                    <a mat-button href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html" target="_blank">
                        <span>CDC Information</span>
                        <mat-icon inline="true">open_in_browser</mat-icon>
                    </a>
                </mat-card-footer>
            </mat-card> -->
        </div>
        <div class="six columns">
            <h4 class="text-color-accent">About the disease</h4>
            <h2>Coronavirus (SARS-COV-2)</h2>
            <p>
                The disease causes respiratory illness (like the flu) with symptoms such as a cough, 
                fever, and in more severe cases, difficulty breathing. 
            </p>
            <p>
                You can protect yourself by 
                washing your hands frequently, avoiding touching your face, and avoiding close contact 
                (1 meter or 3 feet) with people who are unwell.
            </p>
            <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html" mat-flat-button color="primary" target="_blank">
                <span>More Info</span>
            </a>
        </div>
        <div class="twelve columns">
            <div class="video-container mt-7">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BtN-goy9VOY"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="twelve columns">
            <div class="video-container m-3">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BtN-goy9VOY"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div> -->

</div>