<div class="container">

    <div class="row">
        <div class="twelve columns">
            <mat-card>
                <a href="https://flattenthecurve.com/" target="_blank" alt="flattenthecurve.com"
                    matTooltip="Photo Credit: flattenthecurve.com">
                    <img mat-card-image src="assets/images/health-system-capacity.svg" alt="Health System Capacity"
                        class="img-spacer">
                </a>
                <mat-card-content>
                    <p>
                        Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.
                    </p>
                </mat-card-content>
                <mat-card-footer>
                    <a mat-button href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html" target="_blank">
                        <span>CDC Information</span>
                        <mat-icon inline="true">open_in_browser</mat-icon>
                    </a>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="video-container m-3">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BtN-goy9VOY"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>