
.mat-sidenav-container, .mat-sidenav-content {
    overflow: initial;
}

.mat-sidenav {
    
    @media (max-width: 599px) {
        // width: 100%;
    } 

    @media (min-width: 1024px) {
        min-width: 25vw;
    }

}

.nav-header {
    display: flex;
    align-items: baseline;
}
