@import '../styles/colors';
.mat-sidenav-container, .mat-sidenav-content {
    overflow: initial;
}

.mat-sidenav {
    
    @media (max-width: 599px) {
        // width: 100%;

        .mat-drawer-inner-container {
            background-color: mat-color(material-get(background), app-bar) !important;
        }
    } 

    @media (min-width: 1024px) {
        min-width: 25vw;
    }

}

.nav-header {
    display: flex;
    align-items: baseline;
}

.nav-toolbar {
    padding: 0 20vw;
    height: 64px !important;
}
