
<ng-template #bo let-isMobile="isMobile">
    <mat-sidenav-container *ngIf="isMobile; else isNotMobile;">
        <mat-sidenav #nav [mode]="'over'" autoFocus="false" [fixedInViewport]="true">
            <mat-toolbar class="bg-color-app-bar">
                <div class="spacer"></div>
                <button type="button" mat-icon-button (click)="nav.toggle()">
                    <mat-icon>navigate_before</mat-icon>
                </button>
            </mat-toolbar>
            <mat-nav-list>
                <a mat-list-item [routerLink]="['']" (click)="nav.toggle()">
                    <mat-icon matListIcon>near_me</mat-icon>
                    <span>Covid19</span>
                </a>
                <a mat-list-item [routerLink]="['contagion']" (click)="nav.toggle()">
                    <span class="iconify" data-icon="mdi:allergy" data-inline="false" matListIcon></span>
                    <span>Contagion</span>
                </a>
                <a mat-list-item [routerLink]="['countries']" (click)="nav.toggle()">
                    <mat-icon matListIcon>people_alt</mat-icon>
                    <span>Live Updates</span>
                </a>
                <a mat-list-item [routerLink]="['intro']" (click)="nav.toggle()">
                    <mat-icon matListIcon>camera_roll</mat-icon>
                    <span>About</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar class="mat-elevation-z1 app-nav">
                <ng-container *ngIf="(isHomepage$|async) == false">
                    <button type="button" mat-icon-button (click)="goBack()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </ng-container>
                <button type="button" mat-icon-button (click)="nav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1 class="text-color-accent font-weight-bold cursor-click" (click)="goHome()">Covid19</h1>
            </mat-toolbar>
            
            <div class="app-main my-7">
                <router-outlet></router-outlet>
            </div>

            <app-footer class="app-footer bg-color-app-bar"></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <ng-template #isNotMobile>
        <mat-toolbar class="mat-elevation-z1 nav-toolbar app-nav">
            <h1 class="mat-display-1 text-color-accent cursor-click" (click)="goHome()">Covid19</h1>

            <div class="spacer"></div>
            <!-- LINKS -->
            <a mat-button [routerLink]="['intro']">About</a>

            <a mat-button [routerLink]="['contagion']">Contagion</a>

            <a mat-button [routerLink]="['countries']">Live Updates</a>

            <a mat-stroked-button *ngIf="false" color="accent" [routerLink]="['donate']">Donate</a>
        </mat-toolbar>

        <div class="app-main pb-7">
            <router-outlet></router-outlet>
        </div>

        <app-footer class="app-footer bg-color-app-bar"></app-footer>
    </ng-template>
</ng-template>

<ng-container *ngTemplateOutlet="bo;context: { isMobile: isMobile$|async }"></ng-container>