
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@import './styles/theme';
// Plus imports for other components in your app.



/* You can add global styles to this file, and also import other style files */
// @import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import 'styles/layout';
@import 'styles/typography';
@import 'styles/images';
@import 'styles/util';
@import 'styles/colors';

html, body { 
    height: 100%; 
    // background-color: material-get(primary-color);
    background: transparent !important;
    // background: rgb(183,28,28);
    // background: linear-gradient(176deg, rgba(183,28,28,1) 0%, rgba(31,4,8,1) 85%);
}
body { 
    margin: 0; 
    font-family: 'Work Sans', "Helvetica Neue", sans-serif; 
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Crimson Text', serif !important;
}

@for $i from 1 through 4 {
    .mat-display-#{$i} {
        font-family: 'Crimson Text', serif !important;
    }

    .mat-h#{$i} {
        font-family: 'Crimson Text', serif !important;
    }
}