@import '../../styles/autotheme';

.virtual-viewport {
    height: 100%;
}

.mat-table, .mat-expansion-panel {
    margin: 0 -20px;
}

.search-input {
    padding-top: 1.5rem;
}

.mat-expansion-panel {
    box-shadow: none;
    box-sizing: unset;
}

.mat-expansion-panel-header {
    height: 40px;
}

.mat-form-field {
    width: 100%;
}

.hero-container {
    color: material-get(accent-color);

    * {
        color: material-get(accent-color);
    }
}

// @include mat-extend {
//     .hero-container {
//         color: material-get(accent-color);

//         * {
//             color: material-get(accent-color);
//         }
//     }
// }

.mat-cell, .mat-header-cell {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

tr.table-row-item {
    &:hover {
        cursor: pointer;
        background: rgb(227,227,227);

        * {
            font-weight: bold;
        }
    }
}

.overflow-scroll-table {
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dashboard-row {
    background-color: #fff;
}