@import '../../styles/autotheme';

.hero-row {
    margin-top: 10vh !important;
}

.hero-secondary-row {
    margin-top: 5vh !important;
}

.hero-bg {
    background-color: material-get(primary-color) !important;
}

.symptoms-row {
    @extend .hero-row;

    background-color: material-get(primary-color) !important;
    padding: 5rem !important;
    border-radius: 1rem;

    ul {
        font-size: 1.5rem;
    }
}

.banner-row {
    @extend .symptoms-row;

    background-color: lighten(material-get(primary-color), 15%) !important;
    margin-top: unset !important;
}